@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

:root {
    --primary-color: #8b8b8b;
    --secondary-color: #04c4d9;
    --dark-color: #252525;
    --white-color: #fff;
    --light-gray-color: #f2f2f2;
    --font-color: #000;
    --site-max-width: 1300px;

    --primary-color-dark: #333;
    --secondary-color-dark: #1a9aad;
    --dark-color-dark: #fff;
    --white-color-dark: #000;
    --light-gray-color-dark: #1f1f1f;
    --font-color-dark: #fff;
}

body {
    background-color: var(--white-color);
    color: var(--font-color);
}

body.dark-mode {
    --primary-color: var(--primary-color-dark);
    --secondary-color: var(--secondary-color-dark);
    --dark-color: var(--dark-color-dark);
    --white-color: var(--white-color-dark);
    --light-gray-color: var(--light-gray-color-dark);
    --font-color: var(--font-color-dark);
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.section_container {
    margin: 0 auto;
    max-width: var(--site-max-width);
}

.section_title {
    text-align: center;
    padding: 60px 0 100px;
    font-size: 32px;
    font-family: "Righteous", sans-serif;
    text-transform: uppercase;
}

.section_title::after {
    content: '';
    width: 80px;
    background: var(--secondary-color);
    height: 5px;
    display: block;
    margin: 7px auto 0;
    border-radius: 8px;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    background: var(--primary-color);
}

nav {
    display: flex;
    padding: 15px 0 15px 20px;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    max-width: var(--site-max-width);
    background-color: transparent;
}

nav ul {
    display: flex;
    gap: 10px;
}

nav ul li a {
    display: block;
    padding: 10px 25px;
    font-size: 18px;
    font-weight: 500;
    color: var(--white-color);
    border-radius: 30px;
    transition: all 0.2s ease;
}

nav ul li a:hover {
    color: var(--primary-color);
    background-color: var(--secondary-color);
}

nav label {
    font-size: 32px;
    color: var(--white-color);
    cursor: pointer;
}

label .menu_btn,
label .close_btn {
    display: none;
}

#click {
    display: none;
}

.hero_section {
    min-height: 100vh;
    color: #fff;
    position: relative;
}

.hero_container {
    display: flex;
    gap: 20px;
    padding: 20px;
    align-items: center;
    padding-top: 85px;
    min-height: calc(100vh - 85px);
    justify-content: space-between;
    position: relative;
    z-index: 1;
}

.hero_container .text_section {
    position: relative;
    z-index: 1;
}

.hero_container video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 115%;
    object-fit: cover;
    z-index: 0;
}

.hero_container .text_section h2 {
    font-size: 40px;
    color:#fff;
    font-weight: 600;
}

.hero_container .text_section h3 {
    font-size: 35px;
    font-weight: 600;
    color: var(--secondary-color);
    margin-top: 8px;
}

.hero_container .text_section p {
    font-size: 20px;
    font-weight: 400;
    color:#fff;
    margin: 24px 0 40px;
    max-width: 70%;
}

.about_us {
    padding: 60px 20px 120px;
    background: var(--light-gray-color);
}

.about_container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
}

.about_container .text_section {
    max-width: 50%;
}

.about_container .text_section p {
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 30px;
    text-align: center;
}

.about_container .image_section {
    max-width: 45%;
}

.about_container .image_section img {
    width: 100%;
}

.services {
    background: var(--primary-color);
    padding: 60px 20px 120px;
}

.services .service_container {
    display: flex;
    justify-content: space-between;
    gap: 120px;
    align-items: center;
    flex-wrap: wrap;
}

.section_container .services_items img {
    width: 100%;
}

.section_container .services_items {
    width: calc(100% / 3 - 120px);
}

.services_items .services_text {
    text-align: center;
}

.services_items .services_text h3 {
    margin: 12px 0;
    font-weight: 600;
    font-size: 24px;
    color: var(--secondary-color);
}

.services_items .services_text p {
    font-size: 17px;
}

.why_us {
    background: var(--light-gray-color);
    padding: 60px 20px 120px;
}

.why_us .why_container {
    display: flex;
    justify-content: space-between;
    gap: 80px;
    align-items: center;
    flex-wrap: wrap;
}

.why_container .why_items img {
    width: 100%;
}

.why_container .why_items {
    width: calc(100% / 3 - 80px);
    padding: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

.why_items .why_us_text {
    text-align: center;
}

.why_items .why_us_text h3 {
    margin: 20px 0;
    font-size: 22px;
    color: var(--secondary-color);
}

.why_items .why_us_text p {
    font-size: 17px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    margin-top: auto;
}

.footer-content p {
    margin: 5px 0;
    font-size: 14px;
}

@media (max-width: 576px) {
    .footer-content p {
        font-size: 12px;
    }
}

@media screen and (max-width: 1024px) {
    nav {
        padding: 15px 20px;
    }

    label .menu_btn {
        display: block;
    }

    nav ul {
        display: block;
        background: var(--white-color);
        position: absolute;
        top: 75px;
        left: -100%;
        overflow-y: auto;
        width: 100%;
        height: 100vh;
        text-align: center;
        transition: all 0.15s ease;
    }

    #click:checked~ul {
        left: 0;
    }

    #click:checked~label .close_btn {
        display: block;
    }

    #click:checked~label .menu_btn {
        display: none;
    }

    nav ul li {
        display: block;
        padding: 8px 12px;
        width: 48%;
        margin: 24px auto;
    }

    nav ul li a {
        color: var(--dark-color);
    }

    .hero_container {
        flex-direction: column-reverse;
        align-items: center;
        padding-bottom: 32px;
    }

    .hero_container .image_section {
        max-width: 100%;
        text-align: center;
    }

    .hero_container .image_section img {
        max-width: 90%;
        align-items: center;
    }

    .hero_container .text_section {
        max-width: 100%;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .hero_container .text_section p {
        max-width: 100%;
    }

    .about_container {
        flex-direction: column;
    }

    .about_container .text_section {
        max-width: 100%;
    }

    .services .service_container {
        gap: 50px;
    }

    .section_container .services_items {
        width: calc(        100% / 2 - 50px);
    }

    .why_us .why_container {
        gap: 50px;
    }

    .why_container .why_items {
        width: calc(100% / 2 - 50px);
    }
}

@media screen and (max-width: 576px) {
    .section_title {
        padding: 50px 0;
    }

    nav .nav_logo a img,
    .footer_section .footer_logo a img {
        max-width: 45px;
    }

    nav .nav_logo h2 {
        font-size: 30px;
    }

    .hero_container {
        justify-content: space-evenly;
    }

    .hero_container .text_section h2 {
        font-size: 30px;
    }

    .hero_container .text_section h3 {
        font-size: 26px;
    }

    .hero_container .image_section img {
        max-width: 80%;
    }

    .hero_container .text_section p {
        font-size: 17px;
    }

    .about_container .image_section {
        max-width: 70%;
    }

    .button {
        padding: 10px 20px !important;
        font-size: 15px !important;
    }

    .section_container .services_items,
    .why_container .why_items {
        width: 100%;
        text-align: center;
    }

    .services .service_container,
    .why_us .why_container {
        gap: 70px;
    }

    .section_container .services_items img {
        max-width: 80%;
    }
}

body.dark-mode {
    background-color: var(--dark-color);
    color: var(--font-color-dark);
}

body.dark-mode .about_us {
    background: var(--light-gray-color-dark);
}

body.dark-mode .services {
    background: var(--primary-color-dark);
}

body.dark-mode .why_us {
    background: var(--light-gray-color-dark);
}

body.dark-mode footer {
    background-color: var(--primary-color-dark);
    color: var(--font-color-dark);
}

body.dark-mode .services_items .services_text h3,
body.dark-mode .why_items .why_us_text h3 {
    color: var(--secondary-color);
}

